.content-main-list-item{
    display: flex;
    height: 150px;
}
.content-main-list-item-start{
    width: 20%;
    border: 1px solid black;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.content-main-list-item-mid{
    flex:1;
    margin-bottom: 15px;
}
.content-main-list-item-end{
    width: 20%;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content-main-list-item-end button{
    padding: 15px;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.content-main-list-item-end button:hover{
    border: 2px solid var(--main-color);
    color: var(var(--main-text-color));
}

.content-main-list-item-mid-itemType{
    border: 1px solid gray;
    width: 15%;
    border-radius: 15px;
}
.content-main-list-item-mid-itemType p{
    color: gray;
}
.content-main-list-item-mid-title{
    height: 20%;
}
.content-main-list-item-mid-description{
    height: 60%;
    overflow: hidden;
}
.content-main-list-item-mid-itemType{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}